In [10]:
import pandas as pd 
import numpy as np 
df_1=pd.read_csv('historical_weather_300_data2000.csv')
df_1

,state,district,latitude,longitude,date,precipitation_sum,relative_humidity_2m_mean,temperature_2m_mean,wind_speed_10m_mean
0,Andhra Pradesh,ANANTAPUR,14.72422,77.430674,2000-01-01,0.0,67,22.2,13.7
1,Andhra Pradesh,ANANTAPUR,14.72422,77.430674,2000-01-02,0.0,62,22.2,11.2
2,Andhra Pradesh,ANANTAPUR,14.72422,77.430674,2000-01-03,0.0,65,22.0,10.2
3,Andhra Pradesh,ANANTAPUR,14.72422,77.430674,2000-01-04,0.0,63,22.3,11.2
4,Andhra Pradesh,ANANTAPUR,14.72422,77.430674,2000-01-05,0.0,62,22.5,11.5
...,...,...,...,...,...,...,...,...,...
109795,Madhya Pradesh,RATLAM,23.50222,74.955153,2000-12-27,0.0,24,19.4,9.0
109796,Madhya Pradesh,RATLAM,23.50222,74.955153,2000-12-28,0.0,25,19.8,9.1
109797,Madhya Pradesh,RATLAM,23.50222,74.955153,2000-12-29,0.0,24,20.8,10.3
109798,Madhya Pradesh,RATLAM,23.50222,74.955153,2000-12-30,2.6,42,19.9,10.5
109799,Madhya Pradesh,RATLAM,23.50222,74.955153,2000-12-31,9.4,76,13.8,12.0

In [11]:
df_1['date'] = pd.to_datetime(df_1['date'])  # Convert to datetime format

# Add year and month columns
df_1['year'] = df_1['date'].dt.year
df_1['month'] = df_1['date'].dt.month

# Group by state, district, year, and month, and aggregate numerical columns
monthly_df_1 = df_1.groupby(['state', 'district', 'year', 'month']).agg({
    'precipitation_sum': 'mean',
    'relative_humidity_2m_mean': 'mean',  # or 'sum' if needed
    'latitude': 'first',
    'longitude': 'first', 
    'temperature_2m_mean':'mean', 
    'wind_speed_10m_mean':'mean'
}).reset_index()

In [12]:
monthly_df_1

,state,district,year,month,precipitation_sum,relative_humidity_2m_mean,latitude,longitude,temperature_2m_mean,wind_speed_10m_mean
0,Andhra Pradesh,ANANTAPUR,2000,1,0.000000,52.903226,14.72422,77.430674,24.322581,10.541935
1,Andhra Pradesh,ANANTAPUR,2000,2,3.106897,51.931034,14.72422,77.430674,26.262069,9.410345
2,Andhra Pradesh,ANANTAPUR,2000,3,0.003226,41.387097,14.72422,77.430674,28.070968,8.593548
3,Andhra Pradesh,ANANTAPUR,2000,4,0.113333,41.700000,14.72422,77.430674,31.843333,10.970000
4,Andhra Pradesh,ANANTAPUR,2000,5,1.596774,56.000000,14.72422,77.430674,29.806452,14.177419
...,...,...,...,...,...,...,...,...,...,...
3595,Madhya Pradesh,RATLAM,2000,8,3.867742,83.161290,23.50222,74.955153,24.932258,13.819355
3596,Madhya Pradesh,RATLAM,2000,9,1.306667,71.033333,23.50222,74.955153,25.426667,10.563333
3597,Madhya Pradesh,RATLAM,2000,10,0.109677,39.645161,23.50222,74.955153,26.690323,8.041935
3598,Madhya Pradesh,RATLAM,2000,11,0.000000,34.766667,23.50222,74.955153,23.226667,8.903333
3599,Madhya Pradesh,RATLAM,2000,12,0.387097,31.451613,23.50222,74.955153,19.506452,9.009677

In [13]:
monthly_df_1.isnull().sum()

state                        0
district                     0
year                         0
month                        0
precipitation_sum            0
relative_humidity_2m_mean    0
latitude                     0
longitude                    0
temperature_2m_mean          0
wind_speed_10m_mean          0
dtype: int64

In [14]:
import pandas as pd 
import numpy as np 
df_2=pd.read_csv('historical_weather_300_data2001.csv')
df_2['date'] = pd.to_datetime(df_2['date'])  # Convert to datetime format

# Add year and month columns
df_2['year'] = df_2['date'].dt.year
df_2['month'] = df_2['date'].dt.month

# Group by state, district, year, and month, and aggregate numerical columns
monthly_df_2 = df_2.groupby(['state', 'district', 'year', 'month']).agg({
    'precipitation_sum': 'mean',
    'relative_humidity_2m_mean': 'mean',  # or 'sum' if needed
    'latitude': 'first',
    'longitude': 'first', 
    'temperature_2m_mean':'mean', 
    'wind_speed_10m_mean':'mean'
}).reset_index()

In [15]:
monthly_df_2

,state,district,year,month,precipitation_sum,relative_humidity_2m_mean,latitude,longitude,temperature_2m_mean,wind_speed_10m_mean
0,Andhra Pradesh,ANANTAPUR,2001,1,0.022581,52.677419,14.72422,77.430674,23.967742,10.680645
1,Andhra Pradesh,ANANTAPUR,2001,2,0.000000,37.678571,14.72422,77.430674,27.582143,8.510714
2,Andhra Pradesh,ANANTAPUR,2001,3,0.016129,34.258065,14.72422,77.430674,30.354839,9.090323
3,Andhra Pradesh,ANANTAPUR,2001,4,0.896667,45.533333,14.72422,77.430674,30.783333,9.393333
4,Andhra Pradesh,ANANTAPUR,2001,5,0.200000,46.193548,14.72422,77.430674,31.564516,16.700000
...,...,...,...,...,...,...,...,...,...,...
3595,Madhya Pradesh,RATLAM,2001,8,7.125806,87.096774,23.50222,74.955153,24.312903,11.670968
3596,Madhya Pradesh,RATLAM,2001,9,0.336667,70.366667,23.50222,74.955153,26.213333,9.146667
3597,Madhya Pradesh,RATLAM,2001,10,1.474194,51.354839,23.50222,74.955153,26.080645,8.209677
3598,Madhya Pradesh,RATLAM,2001,11,0.000000,29.800000,23.50222,74.955153,23.090000,10.020000
3599,Madhya Pradesh,RATLAM,2001,12,0.000000,35.935484,23.50222,74.955153,20.348387,9.241935

In [16]:
monthly_df_2.isnull().sum()

state                        0
district                     0
year                         0
month                        0
precipitation_sum            0
relative_humidity_2m_mean    0
latitude                     0
longitude                    0
temperature_2m_mean          0
wind_speed_10m_mean          0
dtype: int64

In [20]:
data=[]
for i in range(0,12):
    if i<10:
        df=pd.read_csv(f'historical_weather_300_data200{i}.csv')
    else:
        df=pd.read_csv(f'historical_weather_300_data20{i}.csv')
    df['date'] = pd.to_datetime(df['date'])  # Convert to datetime format
    
    # Add year and month columns
    df['year'] = df['date'].dt.year
    df['month'] = df['date'].dt.month
    
    # Group by state, district, year, and month, and aggregate numerical columns
    monthly_df = df.groupby(['state', 'district', 'year', 'month']).agg({
        'precipitation_sum': 'mean',
        'relative_humidity_2m_mean': 'mean',  # or 'sum' if needed
        'latitude': 'first',
        'longitude': 'first', 
        'temperature_2m_mean':'mean', 
        'wind_speed_10m_mean':'mean'
    }).reset_index()
    data.append(monthly_df)

In [21]:
len(data)

12

In [22]:
data_1=[]
for i in range(0,12):
    if i<10:
        df=pd.read_csv(f'historical_weather_600_data200{i}.csv')
    else:
        df=pd.read_csv(f'historical_weather_600_data20{i}.csv')
    df['date'] = pd.to_datetime(df['date'])  # Convert to datetime format
    
    # Add year and month columns
    df['year'] = df['date'].dt.year
    df['month'] = df['date'].dt.month
    
    # Group by state, district, year, and month, and aggregate numerical columns
    monthly_df = df.groupby(['state', 'district', 'year', 'month']).agg({
        'precipitation_sum': 'mean',
        'relative_humidity_2m_mean': 'mean',  # or 'sum' if needed
        'latitude': 'first',
        'longitude': 'first', 
        'temperature_2m_mean':'mean', 
        'wind_speed_10m_mean':'mean'
    }).reset_index()
    data_1.append(monthly_df)

In [23]:
data_1

[               state district  year  month  precipitation_sum  \
 0     Madhya Pradesh     REWA  2000      1           0.077419
 1     Madhya Pradesh     REWA  2000      2           0.020690
 2     Madhya Pradesh     REWA  2000      3           0.058065
 3     Madhya Pradesh     REWA  2000      4           0.160000
 4     Madhya Pradesh     REWA  2000      5           0.890323
 ...              ...      ...   ...    ...                ...
 3847     West Bengal  PURULIA  2000      8           6.009677
 3848     West Bengal  PURULIA  2000      9           5.703333
 3849     West Bengal  PURULIA  2000     10           0.951613
 3850     West Bengal  PURULIA  2000     11           0.026667
 3851     West Bengal  PURULIA  2000     12           0.000000

       relative_humidity_2m_mean   latitude  longitude  temperature_2m_mean  \
 0                     60.451613  24.756085  81.381057            15.825806
 1                     51.068966  24.756085  81.381057            18.017241
 2                     35.096774  24.756085  81.381057            24.235484
 3                     26.900000  24.756085  81.381057            31.266667
 4                     44.000000  24.756085  81.381057            32.877419
 ...                         ...        ...        ...                  ...
 3847                  83.870968  23.202097  86.322899            27.006452
 3848                  84.233333  23.202097  86.322899            26.083333
 3849                  76.129032  23.202097  86.322899            25.283871
 3850                  62.666667  23.202097  86.322899            21.650000
 3851                  59.129032  23.202097  86.322899            16.932258

       wind_speed_10m_mean
 0                7.564516
 1                8.144828
 2                8.945161
 3               10.126667
 4               11.361290
 ...                   ...
 3847             9.093548
 3848             7.620000
 3849             6.038710
 3850             5.843333
 3851             7.254839

 [3852 rows x 10 columns],
                state district  year  month  precipitation_sum  \
 0     Madhya Pradesh     REWA  2001      1           0.025806
 1     Madhya Pradesh     REWA  2001      2           0.157143
 2     Madhya Pradesh     REWA  2001      3           0.277419
 3     Madhya Pradesh     REWA  2001      4           0.163333
 4     Madhya Pradesh     REWA  2001      5           0.541935
 ...              ...      ...   ...    ...                ...
 3835     West Bengal  PURULIA  2001      8           7.193548
 3836     West Bengal  PURULIA  2001      9           4.906667
 3837     West Bengal  PURULIA  2001     10           2.138710
 3838     West Bengal  PURULIA  2001     11           0.030000
 3839     West Bengal  PURULIA  2001     12           0.000000

       relative_humidity_2m_mean   latitude  longitude  temperature_2m_mean  \
 0                     56.741935  24.756085  81.381057            15.083871
 1                     45.964286  24.756085  81.381057            19.500000
 2                     36.064516  24.756085  81.381057            24.970968
 3                     30.866667  24.756085  81.381057            29.870000
 4                     43.774194  24.756085  81.381057            32.954839
 ...                         ...        ...        ...                  ...
 3835                  87.580645  23.202097  86.322899            26.570968
 3836                  85.466667  23.202097  86.322899            26.590000
 3837                  82.741935  23.202097  86.322899            25.019355
 3838                  67.000000  23.202097  86.322899            22.640000
 3839                  63.612903  23.202097  86.322899            17.296774

       wind_speed_10m_mean
 0                7.245161
 1                8.271429
 2                7.832258
 3                8.650000
 4               10.290323
 ...                   ...
 3835             7.670968
 3836             5.736667
 3837             6.377419
 3838             6.153333
 3839             6.651613

 [3840 rows x 10 columns],
                state district  year  month  precipitation_sum  \
 0     Madhya Pradesh     REWA  2002      1           0.258065
 1     Madhya Pradesh     REWA  2002      2           1.392857
 2     Madhya Pradesh     REWA  2002      3           0.116129
 3     Madhya Pradesh     REWA  2002      4           0.006667
 4     Madhya Pradesh     REWA  2002      5           0.251613
 ...              ...      ...   ...    ...                ...
 3811     West Bengal  PURULIA  2002      8          12.570968
 3812     West Bengal  PURULIA  2002      9           8.693333
 3813     West Bengal  PURULIA  2002     10           1.767742
 3814     West Bengal  PURULIA  2002     11           0.170000
 3815     West Bengal  PURULIA  2002     12           0.103226

       relative_humidity_2m_mean   latitude  longitude  temperature_2m_mean  \
 0                     66.387097  24.756085  81.381057            15.748387
 1                     62.250000  24.756085  81.381057            19.175000
 2                     39.000000  24.756085  81.381057            25.267742
 3                     28.233333  24.756085  81.381057            31.223333
 4                     38.645161  24.756085  81.381057            33.745161
 ...                         ...        ...        ...                  ...
 3811                  87.483871  23.202097  86.322899            26.193548
 3812                  87.466667  23.202097  86.322899            25.730000
 3813                  78.225806  23.202097  86.322899            24.374194
 3814                  69.166667  23.202097  86.322899            21.056667
 3815                  62.258065  23.202097  86.322899            18.035484

       wind_speed_10m_mean
 0                7.058065
 1                7.775000
 2                8.412903
 3                9.613333
 4               10.732258
 ...                   ...
 3811             7.870968
 3812             6.750000
 3813             5.300000
 3814             7.056667
 3815             6.832258

 [3816 rows x 10 columns],
                state district  year  month  precipitation_sum  \
 0     Madhya Pradesh     REWA  2003      1           0.161290
 1     Madhya Pradesh     REWA  2003      2           1.675000
 2     Madhya Pradesh     REWA  2003      3           0.374194
 3     Madhya Pradesh     REWA  2003      4           0.216667
 4     Madhya Pradesh     REWA  2003      5           0.000000
 ...              ...      ...   ...    ...                ...
 3847     West Bengal  PURULIA  2003      8           8.583871
 3848     West Bengal  PURULIA  2003      9           5.240000
 3849     West Bengal  PURULIA  2003     10           7.741935
 3850     West Bengal  PURULIA  2003     11           0.233333
 3851     West Bengal  PURULIA  2003     12           0.277419

       relative_humidity_2m_mean   latitude  longitude  temperature_2m_mean  \
 0                     71.709677  24.756085  81.381057            13.577419
 1                     69.214286  24.756085  81.381057            19.014286
 2                     43.677419  24.756085  81.381057            24.387097
 3                     28.666667  24.756085  81.381057            31.313333
 4                     24.870968  24.756085  81.381057            33.703226
 ...                         ...        ...        ...                  ...
 3847                  86.903226  23.202097  86.322899            26.690323
 3848                  87.600000  23.202097  86.322899            26.160000
 3849                  85.935484  23.202097  86.322899            24.451613
 3850                  72.133333  23.202097  86.322899            19.960000
 3851                  69.967742  23.202097  86.322899            16.909677

       wind_speed_10m_mean
 0                6.122581
 1                7.300000
 2                8.216129
 3                8.983333
 4                9.706452
 ...                   ...
 3847             7.574194
 3848             6.353333
 3849             6.780645
 3850             5.680000
 3851             6.535484

 [3852 rows x 10 columns],
                state district  year  month  precipitation_sum  \
 0     Madhya Pradesh     REWA  2004      1           1.119355
 1     Madhya Pradesh     REWA  2004      2           0.000000
 2     Madhya Pradesh     REWA  2004      3           0.000000
 3     Madhya Pradesh     REWA  2004      4           0.166667
 4     Madhya Pradesh     REWA  2004      5           0.077419
 ...              ...      ...   ...    ...                ...
 3835     West Bengal  PURULIA  2004      8           8.596774
 3836     West Bengal  PURULIA  2004      9           5.536667
 3837     West Bengal  PURULIA  2004     10           3.961290
 3838     West Bengal  PURULIA  2004     11           0.000000
 3839     West Bengal  PURULIA  2004     12           0.132258

       relative_humidity_2m_mean   latitude  longitude  temperature_2m_mean  \
 0                     76.290323  24.756085  81.381057            14.896774
 1                     58.206897  24.756085  81.381057            18.358621
 2                     35.354839  24.756085  81.381057            26.867742
 3                     30.833333  24.756085  81.381057            31.320000
 4                     31.064516  24.756085  81.381057            34.267742
 ...                         ...        ...        ...                  ...
 3835                  88.580645  23.202097  86.322899            26.222581
 3836                  85.633333  23.202097  86.322899            26.216667
 3837                  79.419355  23.202097  86.322899            23.725806
 3838                  65.666667  23.202097  86.322899            20.483333
 3839                  68.290323  23.202097  86.322899            18.477419

       wind_speed_10m_mean
 0                6.564516
 1                7.786207
 2                9.338710
 3               10.253333
 4               10.667742
 ...                   ...
 3835             7.745161
 3836             8.836667
 3837             6.061290
 3838             6.363333
 3839             6.348387

 [3840 rows x 10 columns],
                state district  year  month  precipitation_sum  \
 0     Madhya Pradesh     REWA  2005      1           1.267742
 1     Madhya Pradesh     REWA  2005      2           0.657143
 2     Madhya Pradesh     REWA  2005      3           0.670968
 3     Madhya Pradesh     REWA  2005      4           0.130000
 4     Madhya Pradesh     REWA  2005      5           0.051613
 ...              ...      ...   ...    ...                ...
 3835     West Bengal  PURULIA  2005      8           7.558065
 3836     West Bengal  PURULIA  2005      9           3.870000
 3837     West Bengal  PURULIA  2005     10           6.832258
 3838     West Bengal  PURULIA  2005     11           0.020000
 3839     West Bengal  PURULIA  2005     12           0.422581

       relative_humidity_2m_mean   latitude  longitude  temperature_2m_mean  \
 0                     68.064516  24.756085  81.381057            15.958065
 1                     60.357143  24.756085  81.381057            19.628571
 2                     46.870968  24.756085  81.381057            25.641935
 3                     22.966667  24.756085  81.381057            30.033333
 4                     26.419355  24.756085  81.381057            33.593548
 ...                         ...        ...        ...                  ...
 3835                  83.258065  23.202097  86.322899            27.354839
 3836                  83.633333  23.202097  86.322899            26.766667
 3837                  84.290323  23.202097  86.322899            24.600000
 3838                  69.366667  23.202097  86.322899            19.663333
 3839                  66.645161  23.202097  86.322899            16.641935

       wind_speed_10m_mean
 0                7.251613
 1                8.267857
 2                8.129032
 3                9.316667
 4                9.212903
 ...                   ...
 3835             7.461290
 3836             9.553333
 3837             5.800000
 3838             6.513333
 3839             6.893548

 [3840 rows x 10 columns],
                state district  year  month  precipitation_sum  \
 0     Madhya Pradesh     REWA  2006      1           0.000000
 1     Madhya Pradesh     REWA  2006      2           0.000000
 2     Madhya Pradesh     REWA  2006      3           1.248387
 3     Madhya Pradesh     REWA  2006      4           0.556667
 4     Madhya Pradesh     REWA  2006      5           0.777419
 ...              ...      ...   ...    ...                ...
 3835     West Bengal  PURULIA  2006      8           9.345161
 3836     West Bengal  PURULIA  2006      9           7.273333
 3837     West Bengal  PURULIA  2006     10           0.783871
 3838     West Bengal  PURULIA  2006     11           0.353333
 3839     West Bengal  PURULIA  2006     12           0.000000

       relative_humidity_2m_mean   latitude  longitude  temperature_2m_mean  \
 0                     51.870968  24.756085  81.381057            16.690323
 1                     43.678571  24.756085  81.381057            23.242857
 2                     46.483871  24.756085  81.381057            24.203226
 3                     31.300000  24.756085  81.381057            30.580000
 4                     43.645161  24.756085  81.381057            32.958065
 ...                         ...        ...        ...                  ...
 3835                  87.483871  23.202097  86.322899            26.164516
 3836                  86.133333  23.202097  86.322899            26.360000
 3837                  76.225806  23.202097  86.322899            25.258065
 3838                  67.500000  23.202097  86.322899            22.326667
 3839                  61.483871  23.202097  86.322899            18.719355

       wind_speed_10m_mean
 0                7.793548
 1                8.696429
 2                8.277419
 3                9.076667
 4                8.603226
 ...                   ...
 3835            10.980645
 3836             8.213333
 3837             5.293548
 3838             6.026667
 3839             6.980645

 [3840 rows x 10 columns],
                state district  year  month  precipitation_sum  \
 0     Madhya Pradesh     REWA  2007      1           0.000000
 1     Madhya Pradesh     REWA  2007      2           1.814286
 2     Madhya Pradesh     REWA  2007      3           0.916129
 3     Madhya Pradesh     REWA  2007      4           0.113333
 4     Madhya Pradesh     REWA  2007      5           0.383871
 ...              ...      ...   ...    ...                ...
 3811     West Bengal  PURULIA  2007      8          12.290323
 3812     West Bengal  PURULIA  2007      9          13.870000
 3813     West Bengal  PURULIA  2007     10           1.045161
 3814     West Bengal  PURULIA  2007     11           0.463333
 3815     West Bengal  PURULIA  2007     12           0.000000

       relative_humidity_2m_mean   latitude  longitude  temperature_2m_mean  \
 0                     50.580645  24.756085  81.381057            17.129032
 1                     63.678571  24.756085  81.381057            19.917857
 2                     46.225806  24.756085  81.381057            24.167742
 3                     28.966667  24.756085  81.381057            31.600000
 4                     37.387097  24.756085  81.381057            33.251613
 ...                         ...        ...        ...                  ...
 3811                  86.064516  23.202097  86.322899            27.041935
 3812                  88.133333  23.202097  86.322899            26.273333
 3813                  75.193548  23.202097  86.322899            24.893548
 3814                  71.066667  23.202097  86.322899            21.800000
 3815                  62.290323  23.202097  86.322899            17.935484

       wind_speed_10m_mean
 0                7.083871
 1                7.689286
 2                9.038710
 3                9.600000
 4                8.622581
 ...                   ...
 3811             7.616129
 3812             8.370000
 3813             5.177419
 3814             6.026667
 3815             6.938710

 [3816 rows x 10 columns],
                state district  year  month  precipitation_sum  \
 0     Madhya Pradesh     REWA  2008      1           0.219355
 1     Madhya Pradesh     REWA  2008      2           0.217241
 2     Madhya Pradesh     REWA  2008      3           0.138710
 3     Madhya Pradesh     REWA  2008      4           0.313333
 4     Madhya Pradesh     REWA  2008      5           0.387097
 ...              ...      ...   ...    ...                ...
 3835     West Bengal  PURULIA  2008      8           9.016129
 3836     West Bengal  PURULIA  2008      9           6.110000
 3837     West Bengal  PURULIA  2008     10           0.770968
 3838     West Bengal  PURULIA  2008     11           0.003333
 3839     West Bengal  PURULIA  2008     12           0.000000

       relative_humidity_2m_mean   latitude  longitude  temperature_2m_mean  \
 0                     54.032258  24.756085  81.381057            16.967742
 1                     48.137931  24.756085  81.381057            18.231034
 2                     37.161290  24.756085  81.381057            26.596774
 3                     26.233333  24.756085  81.381057            31.010000
 4                     31.516129  24.756085  81.381057            33.332258
 ...                         ...        ...        ...                  ...
 3835                  86.387097  23.202097  86.322899            26.800000
 3836                  85.366667  23.202097  86.322899            26.560000
 3837                  75.612903  23.202097  86.322899            25.322581
 3838                  64.666667  23.202097  86.322899            22.480000
 3839                  69.451613  23.202097  86.322899            19.422581

       wind_speed_10m_mean
 0                7.390323
 1                8.110345
 2                8.267742
 3                8.973333
 4                9.661290
 ...                   ...
 3835             8.316129
 3836             7.763333
 3837             5.670968
 3838             5.810000
 3839             5.651613

 [3840 rows x 10 columns],
                state district  year  month  precipitation_sum  \
 0     Madhya Pradesh     REWA  2009      1           0.258065
 1     Madhya Pradesh     REWA  2009      2           0.000000
 2     Madhya Pradesh     REWA  2009      3           0.054839
 3     Madhya Pradesh     REWA  2009      4           0.070000
 4     Madhya Pradesh     REWA  2009      5           0.116129
 ...              ...      ...   ...    ...                ...
 3823     West Bengal  PURULIA  2009      8           9.390323
 3824     West Bengal  PURULIA  2009      9           9.716667
 3825     West Bengal  PURULIA  2009     10           2.922581
 3826     West Bengal  PURULIA  2009     11           0.556667
 3827     West Bengal  PURULIA  2009     12           0.293548

       relative_humidity_2m_mean   latitude  longitude  temperature_2m_mean  \
 0                     68.129032  24.756085  81.381057            17.974194
 1                     48.285714  24.756085  81.381057            20.971429
 2                     34.225806  24.756085  81.381057            26.016129
 3                     24.533333  24.756085  81.381057            30.993333
 4                     34.612903  24.756085  81.381057            33.683871
 ...                         ...        ...        ...                  ...
 3823                  85.935484  23.202097  86.322899            27.280645
 3824                  86.366667  23.202097  86.322899            26.843333
 3825                  73.677419  23.202097  86.322899            23.809677
 3826                  68.366667  23.202097  86.322899            22.010000
 3827                  67.000000  23.202097  86.322899            18.503226

       wind_speed_10m_mean
 0                6.864516

In [24]:
len(data_1)

12

In [29]:
combined_df_1 = pd.concat(data, ignore_index=True)

In [30]:
combined_df_1

,state,district,year,month,precipitation_sum,relative_humidity_2m_mean,latitude,longitude,temperature_2m_mean,wind_speed_10m_mean
0,Andhra Pradesh,ANANTAPUR,2000,1,0.000000,52.903226,14.72422,77.430674,24.322581,10.541935
1,Andhra Pradesh,ANANTAPUR,2000,2,3.106897,51.931034,14.72422,77.430674,26.262069,9.410345
2,Andhra Pradesh,ANANTAPUR,2000,3,0.003226,41.387097,14.72422,77.430674,28.070968,8.593548
3,Andhra Pradesh,ANANTAPUR,2000,4,0.113333,41.700000,14.72422,77.430674,31.843333,10.970000
4,Andhra Pradesh,ANANTAPUR,2000,5,1.596774,56.000000,14.72422,77.430674,29.806452,14.177419
...,...,...,...,...,...,...,...,...,...,...
43183,Madhya Pradesh,RATLAM,2011,8,19.345161,91.193548,23.50222,74.955153,24.132258,12.745161
43184,Madhya Pradesh,RATLAM,2011,9,3.476667,84.833333,23.50222,74.955153,24.083333,11.416667
43185,Madhya Pradesh,RATLAM,2011,10,0.000000,44.322581,23.50222,74.955153,26.100000,7.690323
43186,Madhya Pradesh,RATLAM,2011,11,0.000000,41.566667,23.50222,74.955153,24.310000,7.796667
43187,Madhya Pradesh,RATLAM,2011,12,0.119355,45.096774,23.50222,74.955153,20.012903,8.061290

In [31]:
combined_df_2 = pd.concat(data_1, ignore_index=True)

In [32]:
combined_df_2

,state,district,year,month,precipitation_sum,relative_humidity_2m_mean,latitude,longitude,temperature_2m_mean,wind_speed_10m_mean
0,Madhya Pradesh,REWA,2000,1,0.077419,60.451613,24.756085,81.381057,15.825806,7.564516
1,Madhya Pradesh,REWA,2000,2,0.020690,51.068966,24.756085,81.381057,18.017241,8.144828
2,Madhya Pradesh,REWA,2000,3,0.058065,35.096774,24.756085,81.381057,24.235484,8.945161
3,Madhya Pradesh,REWA,2000,4,0.160000,26.900000,24.756085,81.381057,31.266667,10.126667
4,Madhya Pradesh,REWA,2000,5,0.890323,44.000000,24.756085,81.381057,32.877419,11.361290
...,...,...,...,...,...,...,...,...,...,...
46051,West Bengal,PURULIA,2011,8,13.438710,89.064516,23.202097,86.322899,26.148387,8.016129
46052,West Bengal,PURULIA,2011,9,11.706667,87.966667,23.202097,86.322899,25.820000,8.640000
46053,West Bengal,PURULIA,2011,10,1.425806,77.516129,23.202097,86.322899,25.212903,4.812903
46054,West Bengal,PURULIA,2011,11,0.030000,69.533333,23.202097,86.322899,21.540000,5.610000
46055,West Bengal,PURULIA,2011,12,0.000000,69.322581,23.202097,86.322899,17.554839,6.161290

In [33]:
f = pd.concat([combined_df_1,combined_df_2], ignore_index=True)

In [34]:
f

,state,district,year,month,precipitation_sum,relative_humidity_2m_mean,latitude,longitude,temperature_2m_mean,wind_speed_10m_mean
0,Andhra Pradesh,ANANTAPUR,2000,1,0.000000,52.903226,14.724220,77.430674,24.322581,10.541935
1,Andhra Pradesh,ANANTAPUR,2000,2,3.106897,51.931034,14.724220,77.430674,26.262069,9.410345
2,Andhra Pradesh,ANANTAPUR,2000,3,0.003226,41.387097,14.724220,77.430674,28.070968,8.593548
3,Andhra Pradesh,ANANTAPUR,2000,4,0.113333,41.700000,14.724220,77.430674,31.843333,10.970000
4,Andhra Pradesh,ANANTAPUR,2000,5,1.596774,56.000000,14.724220,77.430674,29.806452,14.177419
...,...,...,...,...,...,...,...,...,...,...
89239,West Bengal,PURULIA,2011,8,13.438710,89.064516,23.202097,86.322899,26.148387,8.016129
89240,West Bengal,PURULIA,2011,9,11.706667,87.966667,23.202097,86.322899,25.820000,8.640000
89241,West Bengal,PURULIA,2011,10,1.425806,77.516129,23.202097,86.322899,25.212903,4.812903
89242,West Bengal,PURULIA,2011,11,0.030000,69.533333,23.202097,86.322899,21.540000,5.610000
89243,West Bengal,PURULIA,2011,12,0.000000,69.322581,23.202097,86.322899,17.554839,6.161290

In [36]:
f.to_csv('agriculture/final_weather.csv',index=False)