In [1]:
import pandas as pd 

df_crop=pd.read_csv("updated_crop.csv")

In [2]:
df_crop

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Andhra Pradesh,ANANTAPUR,2001,Kharif,Arhar/Tur,27942.0,7628.0
1,Andhra Pradesh,ANANTAPUR,2001,Kharif,Bajra,1595.0,526.0
2,Andhra Pradesh,ANANTAPUR,2001,Kharif,Castor seed,3191.0,900.0
3,Andhra Pradesh,ANANTAPUR,2001,Kharif,Cotton(lint),8552.0,9055.0
4,Andhra Pradesh,ANANTAPUR,2001,Kharif,Dry chillies,3765.0,7127.0
...,...,...,...,...,...,...,...
105453,West Bengal,PURULIA,2010,Rabi,Wheat,2013.0,5152.0
105454,West Bengal,PURULIA,2010,Summer,Maize,258.0,391.0
105455,West Bengal,PURULIA,2010,Summer,Rice,105.0,281.0
105456,West Bengal,PURULIA,2010,Whole Year,Sugarcane,303.0,11541.0
105457,West Bengal,PURULIA,2010,Winter,Rice,152676.0,261435.0

In [3]:
crops = df_crop[['State_Name', 'District_Name']].drop_duplicates().reset_index(drop=True)
len(df_crop['District_Name'].unique())

616

In [4]:
crops.to_csv("place2001-2010.csv",index=False)

In [6]:
len(crops['District_Name'].unique())

616

In [8]:
df_crop['Season'].value_counts()

Season
Kharif         40148
Rabi           28740
Whole Year     26541
Summer          5451
Winter          2481
Autumn          2097
Name: count, dtype: int64